#hobby{
    width: 100%;
    margin-top: 50px;
}
#hobby img{
    width: 100%;
    height: 400px;
}

/* ==== Movies ==== */
#movie{ 
    text-align: center;
    padding: 60px 0 100px 0;
        
}

#movie button{
    background:#a9e4dc;
    width: 65%;
    margin-left: 65px;
    border: none;
    border-radius: 60px;
    color: white;
    transition: all 0.5s ease;
    margin-top: 15px;
    padding: 10px 5px;
}
#movie button:hover{
    background: #469da9;
    border-radius: 0px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#movie .fMovie img, #movie .cMovie img{
    width: 270px;
    height: 350px;
    border:10px solid #fcfafa;
    -webkit-box-shadow:0 3px 10px #888;
    -moz-box-shadow:0 3px 10px #888;
    -o-box-shadow:0 3px 10px #888;
    -ms-box-shadow:0 3px 10px #888;
    box-shadow: 0 3px 10px #888;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.fMovie, .cMovie{
    margin-top: 60px;
}
.cMovie{
    display: none;
}

#movie .col-sm-3{
    display:inline;
    float:left;
    position:relative;
    height: 500px;
    -webkit-perspecive: 500px;
    -moz-perspecive: 500px;
    -o-perspecive: 500px;
    -ms-perspecive: 500px;
    perspective: 500px;
}
#movie .movieinfo{
    border:10px solid #fcfafa;
    width:200px; 
    margin-top: -160px;
    padding-bottom:5px;
    z-index:100;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    transition-duration: 0.5s;
    background-color:#deddcd;
}

.a1, .m1, .a2, .m2, .a5, .m5, .a6, .m6, .a9, .m9, .a10, .m10{
    -webkit-transform: rotateZ(20px) rotateY(30deg);
    -moz-transform: rotateY(30deg);
    -o-transform: rotateY(30deg);
    -ms-transform: rotateY(30deg);
    transform: rotateY(30deg);
}
.a3, .m3, .a4, .m4, .a7, .m7, .a8, .m8, .a11, .m11, .a12, .m12{
    -webkit-transform: rotateZ(20px) rotateY(-30deg);
    -moz-transform: rotateY(-30deg);
    -o-transform: rotateY(-30deg);
    -ms-transform: rotateY(-30deg);
    transform: rotateY(-30deg);
}
.m1, .m2, .m5, .m6, .m9, .m10{
   margin-left: 60px;
}
.m3, .m4, .m7, .m8, .m11, .m12{
   margin-left: 10px;
}
.movieinfo h3 {
    color:#7a3f3a;
    font-variant: small-caps; 
    font-family:Georgia,serif,Times; 
    text-align:center;
}
.movieinfo a {
    background-color:#7a3f3a;
    padding:5px 10px; color:#eee; 
    text-decoration:none;
    display:block; 
    width:80px; 
    text-align:center;
    margin:0 auto;
    -moz-border-radius:5px; 
    -webkit-border-radius:5px;
    -0\o-border-radius:5px; 
    -ms-border-radius:5px; 
    border-radius: 5px;
}
.movieinfo a:hover, .movieinfo a:focus {            
    background-color:#6a191f; 
    color:#fff;
    text-decoration:none; 
}

/* ==== Bayern Munich ==== */
#bayern{
    text-align: center;
    background: url("../Img/hobbies/fcb_bg.jpg");
    background-size: cover;
    padding: 60px 0 80px 0 ;
    position: relative;
    color: #ccc;
}
#bayern h2, #bayern h3{
    color: white;
}
#bayern h3{
    background: rgb(163, 34, 34);
    padding: 5px 0;
}
#bayern .section-header{
    margin-top: 60px;
}
#bayern .c1 p{
    text-align: left;
    margin-left: 5px;
}

#bayern .c2 iframe{
    padding-top: 30px;
    height: 400px;
    width: 100%;
}

/* ==== Game ==== */
#game{ 
    text-align: center;
    padding:60px 0 80px 0;
    background: white;
    min-height: 500px;
    color: black;
}
#game h3{
    margin-bottom: 15px;
    padding: 5px 0;
    background: #0b1235;
    color: white;
}

#game .col-sm-7 .row{
    margin-top: 10px;
    
}
#game .view {
    padding: 0px;
    height:100px;
    width: 100px;
    margin-left: 7% ;
}
#game .view img{
    heigh:100px;
    width: 100px;
    float: left;
    border: 5px solid  rgb(83, 86, 81);
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 0px 0px 5px #aaa;
    cursor: default;
    display: block;
    padding: 0px !important;
}
#game .view a.info{
    background: url("../Img/link.png") center no-repeat;
    display:inline-block;
    text-decoration: none;
    padding:0;
    text-indent:-9999px;
    width:20px;
    height:20px;
}
#game .view .mask, .view .content {
   width: 100px;
   height: 100px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
#game .effect .mask{
    opacity: 0;
    overflow: visible;
    border: 0px solid rgba(0,0,0,0.7);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
#game .effect a.info {
	position:relative;
	top:-15px;
	left: -10px;
	opacity:0;
    -moz-transform:scale(0,0);
    -webkit-transform:scale(0,0);
    -o-transform:scale(0,0);
    -ms-transform:scale(0,0);
    transform:scale(0,0);
    -webkit-transition: -webkit-transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
    -moz-transition: -moz-transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
    -o-transition: -o-transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
    -ms-transition: -ms-transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
    transition: transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
}
#game .effect:hover .mask {
    opacity: 1;
    border:50px solid rgba(221, 181, 25, 0.70);;
}
#game .effect:hover a.info {
	opacity:1;
	-moz-transform:scale(1,1);
	-webkit-transform:scale(1,1);
	-o-transform:scale(1,1);
	-ms-transform:scale(1,1);
	transform:scale(1,1);
	-moz-transition-delay:0.3s;
	-webkit-transition-delay:0.3s;
	-o-transition-delay:0.3s;
	-ms-transition-delay:0.3s;
	transition-delay:0.3s;
}
#game .rank{
    width:280px;
    height:340px;
    border:1px solid rgba(196, 180, 52, 0.92);
}
#game .tester p{
    text-align: left;
    margin-left: 5px;
}
#game .col-sm-6{
    text-align: 
}
.game {
    position: relative;
    margin-top: 10px;
    width: 90%;
    height: 400px;
    background-image: url("../Img/hobbies/game/Teemo.jpg");
    background-size: cover;
    border-radius: 5px;
    border: 2px solid rgb(62, 26, 26);
}
.startPage{
    margin-left: 7%;
    margin-top: 15%; 
}

    .startPage p {
        width:225px;
    }
.gamePage {
    display: none;
}
.start p {
    text-shadow:1px 1px rgba(196, 180, 52, 0.92) ;
}
.timer {
    margin-left: 10px;
}
.times {
    margin-left: 20px;
}
    .timer p {
        color:rgb(245, 241, 241);
        text-shadow:1px 1px rgba(196, 180, 52, 0.92);
    }
.finishPage1 {
    display: none;
    text-align: center;
    margin-top: 30%;
}
.fp1, .fp2, .fp3, .fp4 {
    width: 200px;
    margin-left: 200px;
    margin-top: -100px;
    text-align: center;
}
    .fp1 p, .fp2 p, .fp3 p, .fp4 p {
        color:rgb(245, 241, 241);
        text-shadow:1px 1px rgb(163, 34, 34);
    }
    .fp1 .tryAgain, .fp2 .tryAgain, .fp3 .tryAgain, .fp4 .tryAgain {
        margin-left:-30px;
    }
    .fp1 .back, .fp2 .back, .fp3 .back, .fp4 .back {
        margin-left: 20px;
    }
.finishPage2 {
    display: none;
    text-align: center;
    margin-top: 30%;
}

.finishPage3,.finishPage4 {
    display: none;
    text-align: center;
    margin-top: 30%;
}


#box{
    height: 300px;
    width: 300px;
    display: none;
    border-radius: 150px;
    margin-left: 20%;
    position: relative;
    float: left;    
}
.row {
    padding: 0 3px 0 3px;
}
.row h4,h3 {
    text-align:center;
}
#startButton{
    margin-left: -250px;
}

/* ==== Mdeia Queries ==== */
@media screen and (max-width: 991px){
    #movie button{
        width: 100%;
        margin-left: 0px;
    }
    .fMovie, .cMovie{
        margin-left: -45px; 
    }
    #movie .fMovie img, #movie .cMovie img{
        width: 230px;
        margin-left:-20px;
    }
    #movie .movieinfo{
        width: 230px;
        margin-left:-20px !important ;
    }
    #game .view {
        margin-left: 1% ;
    }
    #game .col-sm-7 .row{
        margin-top: -40px;
        
    }
    .game {
    
        width: 120%;
    }
    .fp1, .fp2, .fp3, .fp4 {
        margin-left: 180px;  
    }
     #box{
        margin-left: 12%;  
    }
 
}
@media screen and (max-width: 768px){
    #movie button{
        width: 30%;
        margin-left: 35%;
        margin-top: 20px;
    }
    .fMovie, .cMovie{
        margin-left:2%;
        width: 95%
    }
    #movie .fMovie img, #movie .cMovie img{
        width: 270px;
        margin-left:5%;
    }
    #movie .movieinfo{
        width: 230px;
        margin-left:12% !important ;
    }
    #game .view {
        margin-left: 9% ;
    }
    #game .col-sm-7 .row{
       margin-top: -50px;
    }
    .game {
        width: 80%;
        margin-left: 10%;
        margin-top: 5%;
    }
    .fp1, .fp2, .fp3, .fp4 {
        margin-left: 220px;
    }
     #box{
        margin-left: 20%;  
    }

}
@media screen and (max-width: 658px){
    #movie button{
        width: 40%;
        margin-left: 30%;
        margin-top: 20px;
    }
   .fMovie, .cMovie{
        width: 100%;
        margin-left: 0px;
    }
    #movie .fMovie img, #movie .cMovie img{
        width: 250px;
        margin-left: 15%;
    }
    #movie .movieinfo{
        width: 240px;
        margin-left:17% !important ;
    }
    .a1, .m1, .a2, .m2, .a5, .m5, .a6, .m6, .a9, .m9, .a10, .m10,.a3, .m3, .a4, .m4, .a7, .m7, .a8, .m8, .a11, .m11, .a12, .m12{
        -webkit-transform: rotateZ(0px) rotateY(0deg)!important;
        -moz-transform: rotateY(0deg) !important;
        -o-transform: rotateY(0deg) !important;
        -ms-transform: rotateY(0deg) !important;
        transform: rotateY(0deg) !important;
    }
    #game .view {
        margin-left: 2% ;
    }
    #game .col-sm-7 .row{
       margin-top: -50px;
    }
}
@media screen and (max-width: 568px){
   #movie button{
        width: 60%;
        margin-left: 20%;
        margin-top: 20px;
    }
    .fMovie, .cMovie{
        width: 100%;
        margin-left: 0px;
    }
    #movie .fMovie img, #movie .cMovie img{
        width: 80%;
    }
    #movie .movieinfo{
        width: 76%;
        margin-left:19.5% !important ;
    }
    .a1, .m1, .a2, .m2, .a5, .m5, .a6, .m6, .a9, .m9, .a10, .m10,.a3, .m3, .a4, .m4, .a7, .m7, .a8, .m8, .a11, .m11, .a12, .m12{
        -webkit-transform: rotateZ(0px) rotateY(0deg)!important;
        -moz-transform: rotateY(0deg) !important;
        -o-transform: rotateY(0deg) !important;
        -ms-transform: rotateY(0deg) !important;
        transform: rotateY(0deg) !important;
    }
     #game .view {
        margin-left: 4% ;
    }
    #game .col-sm-7 .row{
       margin-top: -50px;
    }
    .game {
        width: 100%;
        margin-left: 0%;
        margin-top: 5%;
    }
    .fp1, .fp2, .fp3, .fp4 {
        margin-left: 200px;
        margin-top: -50px;
    }
    #box{
        margin-left: 15%;  
    }
}

